.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .list {
    display: flex;
    gap: 16px;

    .link {
      text-decoration: none;
      color: #12100c;
      font-size: 16px;
    }
  }
  .btn {
    padding: 6px 22px;
    border-radius: 12px;
    background-color: #12100c;
    color: #f9f9f9;
    border: none;
    cursor: pointer;
  }
  .menu {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  .rightMenu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .menuActive {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50vh;
    background-color: #ffad33;
  }
  .mobileList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;

    .link {
      text-decoration: none;
      color: #f9f9f9;
      font-size: 32px;
    }
  }
}

@media (max-width: 992px) {
  .list {
    display: none !important;
  }
  .menu {
    display: block !important;
  }
}
